main {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  line-height: 1.5;
}

main h2 {
  font-size: 35px;
}

main img {
  max-width: 100%;
}

dt {
  font-weight: bold;
}

dd.example {
  font-style: italic;
}

main > div.header-image {
  margin-top: 100px;
  width: 100%;
}

main > div.header-image img {
  width: 100%;
  max-width: 300px;
}