html {
  background-color: #FDFFE1;
  color: black;

  margin: 0;
  text-underline-position: under;

  font-family: "Karla", sans-serif;
  font-size: 26px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

header, footer, .button {
  font-size: 20px;
}

header {
  background-color: #FFFEF2;
  font-family: "Gaegu", sans-serif;
  font-size: 36px;
  font-weight: 300;
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header.about {
  background-color: #FFDD80;
}

.container {
  width: 100%;
  max-width: 1500px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}

.container.rightjustify {
  justify-content: flex-end;
}


header nav {
  display: flex;
  flex-direction: row;
  gap: 75px;
  align-items: center;
}

header nav a {
  color: black;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

footer {
  margin-top: 2em;
}

footer .upper-footer {
  background-color: #FFD7E4;
}

footer .final {
  background-color: #FFC3D7;
  border-top: 5px solid white;
  padding: 44px;
  font-weight: 600;
  text-align: center;
}

hr {
  border-color: gainsboro;
  border-style: solid;
  border-top: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a.button {
  cursor: pointer;
  display: inline-block;
  background-color: #FF5C00;
  color: white;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.2s;
}

a.button:hover {
  text-decoration: none;
  background-color: #ff7526;
  transform: scale(1.05);
}

.social {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.shadowed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.washi-top {
  margin-top: 150px;
  margin-bottom: 100px;
}

.washi-top .container {
  background-color: white;
  border-radius: 25px;
  max-width: 1100px;
  position: relative;
  padding: 70px;
  gap: 50px;
}

.washi-top .container, 
.washi-top h3 {
  font-size: 22px;
  line-height: 1.4;
}

.washi-top h3 {
  margin-bottom: 0;
}

.washi-top ul {
  margin: 0;
  padding-left: 1em;
}

.washi-top .container video {
  width: 60%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 6 / 5;
}

.washi-top .container h2 {
  position: absolute;
  margin: 0;
  top: -30px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.washi-top .container h2 span {
  background-color: #FFC3D7;
  font-family: 'Gaegu', sans-serif;
  padding: 5px 20px;
}

main > div:not(.hero) {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin-bottom: 150px;
}

@media (max-width: 900px) { 
  header .container {
    flex-direction: column;
    gap: 10px;
  }
  header .container .button {
    background: none;
    border: none;
    transition: none;
    color: black;
    padding: 0;
  }
  header .container a {
    text-decoration: underline;
  }

  .washi-top {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .washi-top .container {
    flex-direction: column;
    padding: 1em;
    gap: 0;
  }

  .washi-top .container h2 {
    font-size: 24px;
    top: -22px;
  }

  .washi-top .container video {
    width: 100%;
    margin-top: 25px;
  }

  footer {
    font-size: 16px;
  }
}
