html {
  background-color: #FDFFE1;
  color: black;

  line-height: 1.4;
  margin: 0;
  text-underline-position: under;

  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: #FFDD80;
  width: 100%;
}

header .container {
  width: 100%;
  max-width: 1500px;
  padding: 44px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: auto;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

header nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2em;
}

footer .social {
  background-color: #FFD7E4;
  padding: 44px;
}

footer .final {
  background-color: #FFC3D7;
  border-top: 5px solid white;
  padding: 44px;
  font-weight: 600;
  text-align: center;
}

hr {
  border-color: gainsboro;
  border-style: solid;
  border-top: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.hero {
  width: 100%;
  max-width: 1500px;
  aspect-ratio: 1500 / 1000;
  background-image: url(/images/pouch-sakura.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
