.issue3-scene {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.issue3-scene .wall {
  background-color: #00d0ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-scene {
  position: relative;
  width: 1988px;
  max-width: 100%;
  height: auto;
  top: 21.2%;
  aspect-ratio: 1571 / 900;
}

.mountain-bg {
  margin: auto;
  background-image: url(/images/issue3/header.png);
  background-color: #00d0ff;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1571 / 900;
  width: 100%;
  height: auto;
}

.mountain-bg-left {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url(/images/issue3/header-repeat-left.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.mountain-bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(/images/issue3/header-repeat-right.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.center-stage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box {
  position: relative;
  width: 66%;
  height: 100%;
}

.pouch-title-box {
  position: absolute;
  width: 43%;
  top: 46.5%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pouch-title {
  background-image: url(/images/issue3/pouch-3-title.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 300 / 82;
  width: 100%;
}

.pouch-subtitle {
  text-align: center;
  font-family: "Gaegu", sans-serif;
  font-size: clamp(10px, 3vw, 34px);
}

.bunny {
  position: absolute;
  top: 10%;
  right: 0;
  background-image: url(/images/issue3/pouch-journaling-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1074 / 956;
  width: 55%;
}

.dialogue {
  position: absolute;
  top: -3%;
  left: 26.5%;
  background-image: url(/images/issue3/dialogue.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 310 / 276;
  width: 21%;
}


.skybunny-box {
  position: absolute;
  top: 0%;
  right: 0;
  width: 8%;

  animation: linear infinite;
  animation-name: run;
  animation-duration: 500s;
  animation-delay: -300s;

  /* animation-duration: 5s; */
  transform: scaleX(1);
}

.skybunny {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/images/issue3/trashbunny.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 180 / 137;
  width: 50%;
}

.balloon {
  position: absolute;
  top: 0;
  left: 15%;
  background-image: url(/images/issue3/balloon.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 43 / 103;
  width: 15%;
}

@keyframes run {
  0% {
    right: -8%;
    top: 0;
    transform: scaleX(1);
  }
  12%, 37%, 62%, 87% {
    top: 4%;
  }
  25%, 75% {
    top: 0;
  }
  50% {
    top: 0;
    right: 100%;
    transform: scaleX(1);
  }
  52% {
    transform: scaleX(-1);
  }
  100% {
    top: 0;
    right: -8%;
    transform: scaleX(-1);
  }
}
