.intro {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 100px auto;
  gap: 90px;
  justify-content: center;
  font-weight: 300;
  align-items: center;
}

.intro h2 {
  font-size: 36px;
  margin-top: 0;
}

.mag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mag img {
  aspect-ratio: 485 / 680;
  width: 450px;
  transform: rotate(-2.74deg);
}

.desc {
  font-size: 26px;
  text-align: center;
}

@media (max-width: 900px) { 
  .intro {
    flex-direction: column;
    gap: 50px;
    margin: 50px auto;
  }
  .mag img {
    max-width: 70%;
  }

  .intro h2 {
    font-size: 26px;
  }

  .desc {
    font-size: 22px;
    max-width: 90%;
  }
}