main {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 1.5;
}

main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 32px;
}

main img {
  max-width: 100%;
}

main > div.header-image {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(/images/issue3/layout-gallery.jpeg);
  aspect-ratio: 1500  / 1000;
  width: 100%;
  background-color: #F0EEDF;
}

main p,
main li {
  margin: 1em 0;
}

summary {
  cursor: pointer;
}

details {
  margin-left: 1em;
  margin-right: 1em;
}

hr {
  margin: 2em 0;
}