<!DOCTYPE >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <!-- HTML Meta Tags -->
    <meta name="description" content="Pouch Magazine | an indie magazine for stationery lovers">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://pouchmagazine.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Pouch Magazine | an indie magazine for stationery lovers">
    <meta property="og:image" content="https://pouchmagazine.com/images/og.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="pouchmagazine.com">
    <meta property="twitter:url" content="https://pouchmagazine.com">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="Pouch Magazine | an indie magazine for stationery lovers">
    <meta name="twitter:image" content="https://pouchmagazine.com/images/og.png">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link rel="icon" type="image/png" href="/images/p.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ stylesheet | safe }}" type="text/css" media="screen" />

    <script src="{{ script | safe }}" defer></script>
  </head>

  <body>
    <header>
      <div class="container">
        <a href="/"><img src="/images/pouch-plain-w-outline.png" height="54" width="197"/></a>

        <nav>
          <a href="/about">About</a>
          <a href="https://shop.pouchmagazine.com" class="button">Shop Pouch</a>
        </nav>
      </div>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <div class="upper-footer">
        <div class="container">
          <div class="social">
            <a href="https://www.instagram.com/pouch.studio" target="_blank"><img src="/images/instagram.png" height="40"></a>
            <a href="https://vrklovespaper.substack.com/" target="_blank"><img src="/images/substack.png" height="40"></a>
          </div>
          <a href="https://shop.pouchmagazine.com" class="button">Shop Pouch</a>
        </div>
      </div>
      <div class="final">
        Pouch Magazine is a part of <a href="https://pouch.studio" target="_blank">Pouch Studio</a> ♡
      </div>
    </footer>
  </body>
</html>
